<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Person</title>
</head>
<body>
<script type="text/javascript">
    function verify() {
        if ($('#personname').val() == "") {
            alert("姓名不能为空");
            return false;
        } else {
            return true;
        }
    }

    function addperson(name) {
        $.ajax({
            url:"/person/add",
            type:"post",
            data:{personname:name},
            async:false,
            success: function(data){
                $("#personsbody").appendChild('<tr><td>aa</td><td>s</td><td>t/td></tr>');
            }
        });
    }
</script>
<div data-role="page">
  <div data-role="header">
    <h1>我的儿子们</h1>
  </div>
  <div data-role="main" class="ui-content">
       <table>
           <tbody id="personsbody">
               {% for person in persons %}
                    <tr>
                        <td> {{ person.name }} </td>
                        <td> {{ person.scores }} </td>
                        <td><a href="/person/detail?id={{ person.id }}">明细</a>&nbsp;&nbsp;<a href="/person/history?id={{ person.id }}">历史</a>&nbsp;&nbsp;<a href="/person/delete?id={{ person.id }}">删除</a></td>
                    </tr>
               {% endfor %}
           </tbody>
       </table>

  </div>
  <div data-role="footer">
      <a onclick="javascript:addperson('wang')">添加1</a>
      <h1><a href="#add" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">添加</a></h1>
      <div data-role="popup" id="add" style="margin: 20rem, width=400rem">
          <form action="/person/add" onsubmit="return verify()" method="post">
              姓名：<input type="text" name="personname" id="personname">
              <input type="submit" value="添加" data-transition="slide">
          </form>
      </div>
  </div>
</div>
</body>
</html>