<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>项目</title>
</head>
<body>
<script type="text/javascript">
    function verify() {
        if ($('#itemname').val() == "") {
            alert("项目不能为空");
            return false;
        }

        if ($('#itemscore').val() == "") {
            alert("分数不能为空");
            return false;
        }

        return true;
    }

    function editItem(item) {
        $("#itemid").val(item.id);
        $("#itemname").val(item.name);
        $("#itemscore").val(item.score);
    }

    function clearItems() {
        $("#itemid").val('');
        $("#itemname").val('');
        $("#itemscore").val('');
    }

    function additem() {
        if (false == verify()) {
            return;
        }
        id = $("#itemid").val();
        name = $("#itemname").val();
        score = $("#itemscore").val();
        $.ajax({
            url:"/item/add",
            type:"post",
            data:{itemid:id,itemname:name,itemscore:score},
            async:false,
            success: function(data){
                if (id == 0) {
                    $("#itemsbody").append('<tr id='+data.id+'><td>'+ data.name + '</td><td>'+ data.score + '</td>' +
                    '<td><a href=\"#add\" onclick=\"editItem(data)\">明细</a>&nbsp;&nbsp;<a href=\"\" onclick=\"javascript:deleteitem('+data.id+')\">删除</a></td></tr>');
                } else {
                    $("#"+id>td).first().val(name);
                    $("#"+id>td).first().next.val(score);
                }
            }

        });
    }

    function deleteitem(id) {
        $.ajax({
            url:"/item/delete",
            type:"get",
            data:{id:id},
            async:false,
            success: function(){
                $("#"+id).remove();
            }
        });
    }
</script>
<div data-role="page">
  <div data-role="header">
      <h1>项目</h1>
  </div>
  <div data-role="main" class="ui-content">
       <table>
           <tbody id="itemsbody">
               {% for item in items %}
                    <tr id="{{ item.id }}">
                        <td> {{ item.name }} </td>
                        <td> {{ item.score }} </td>
                        <td><a href="#add" data-rel="popup" onclick="javascript:editItem({{item}})">编辑</a>&nbsp;&nbsp;<a href="" onclick="javascript:deleteitem({{ item.id }})">删除</a></td>
                    </tr>
               {% endfor %}
           </tbody>
       </table>

  </div>
  <div data-role="footer">
      <h1><a href="#add" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all" onclick="javascript:clearItems()">添加</a></h1>
      <div data-role="popup" id="add" style="margin: 20rem, width=400rem">
          <input type="hidden" name="itemid" id="itemid">
          项目：<input type="text" name="itemname" id="itemname">
          分数：<input type="text" name="itemscore" id="itemscore">
          <input onclick="javascript:additem()" type="button" value="添加" data-transition="slide">
      </div>
  </div>
</div>
</body>
</html>