<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style>
        #main {position: absolute;width:400px;height:300px;left:50%;top:50%;margin-left:-200px;margin-top:-150px;/* border:1px solid #00F */}
    </style>
    <title>登录</title>
</head>
<body>
    <div id="main" align="center" width="100%" class="ui-content" data-role="content">
        <form method="post" action="/user/login" data-ajax="false">
            <table>
                <tbody>
                    <tr>
                        <td>用户名</td>
                        <td><input type="text" name="username" value="{{ username }}"> </td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td><input type="password" name="userpassword", id="userpassword"> </td>
                    </tr>
                    <tr {% if not existError %} style="display:none" {% endif %}>
                        <td colspan="2"><p style="color:#FF0000">用户名或密码错误</p></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="登录" data-transition="slide"></td>
                    </tr>
                </tbody>
            </table>
        </form>
            <p>还没有账号？<a href="/user/sign">现在注册</a></p>
    </div>
</body>
</html>